@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}
h1{
  font-size: 50px;
  line-height: 64px;
  color: #222;
}
h2{
  font-size: 46px;
  line-height: 54px;
  color: #222;
}
h4{
  font-size: 20px;
  color: #222;
}
h6{
  font-weight: 700;
  font-size: 12px;
}

p{
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1{
  padding: 40px 80px;
}
.section-m1{
  margin: 40px 0;
}

#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0,0,0,0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar li a:hover,#navbar li a.active{
  color: #088178;
}

#navbar li a.active::after,#navbar li a:hover::after{
  content: "";
  width: 35%;
  height: 3px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
  transition: 0.3s ease;
}

#hero{
  background-image: url(/img/hero4.png);
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4{
  padding-bottom: 15px;
}
#hero h1{
  color: #088178;
}
#hero button{
  background-image: url(/img/button.png);
  background-color: transparent;
  color: #088178;
  border: 0;
  padding: 14px 80px 14px 65px;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}


#feature{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .fe-box{
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 40px rgba(0,0,0,0.03);
  border: 1px solid #cce7d0;
  border-radius: 5px;
  margin: 15px 0;
}
#feature .fe-box:hover{
  box-shadow: 10px 10px 50px rgba(70,620,221,0.1);
}
#feature .fe-box img{
  width: 100%;
  margin-bottom: 10px;
}
#feature .fe-box h6{
  display: inline-block;
  padding: 7px 8px 7px 8px;
  line-height: 0.5;
  border-radius: 5px;
  color: #088178;
  background-color: #fddde4;
}
#feature .fe-box:nth-child(2) h6{
  background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6{
  background-color: #d1e8f2;
}
#feature .fe-box:nth-child(4) h6{
  background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6{
  background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6{
  background-color: #fff2e5;
}



#product1{
  text-align: center;
}
#product1 h2{
  color: #000;
}
#product1 .pro-container{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
#product1 .pro{
  position: relative;
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
}
#product1 .pro:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#product1 .pro img{
  width: 100%;
  border-radius: 20px;
}
#product1 .pro .desc{
  text-align: start;
  padding: 10px 0;
}
#product1 .pro .desc span{
  color: #606063;
  font-size: 12px;
}
#product1 .pro .desc h5{
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}
#product1 .pro .desc i{
  font-size: 12px;
  color: rgb(243, 181, 25);
}
#product1 .pro .desc h4{
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}
#product1 .pro .cart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}



#banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("/img/banner/b2.jpg");
  height: 40vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.b-container h5{
  color: #fff;
  font-size: 16px;
  margin-bottom: 10px;
}
.b-container h2{
  color: white;
  font-size: 30px;
  padding: 10px 0;
}
#banner .b-text span{
  color: red;
}
button.normal{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}
#banner button:hover{
  background-color: #088178;
  color: #fff;
}



#product2{
  text-align: center;
}
#product2 h2{
  color: #000;
}
#product2 .pro-container{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
#product2 .pro{
  position: relative;
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
}
#product2 .pro:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#product2 .pro img{
  width: 100%;
  border-radius: 20px;
}
#product2 .pro .desc{
  text-align: start;
  padding: 10px 0;
}
#product2 .pro .desc span{
  color: #606063;
  font-size: 12px;
}
#product2 .pro .desc h5{
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}
#product2 .pro .desc i{
  font-size: 12px;
  color: rgb(243, 181, 25);
}
#product2 .pro .desc h4{
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}
#product2 .pro .cart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}



#banner2 .banner-box,.banner-box2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 50vh;
  min-width: 650px;
  background-size: cover;
  background-position: center;
  padding: 30px;
  line-height: 2;
}
#banner2{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#banner2 h4,h2,h3{
  color: white;
}
.banner-box{
  background-image: url("/img/banner/b17.jpg");
  
}
.banner-box2{
  background-image: url("/img/banner/b10.jpg");
}
button.white{
  font-size: 14px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s;
  margin-top: 10px;
}
#banner2 .banner-box:hover button,.banner-box2:hover button{
  background-color:#088178;
  border: none #088178;

}
#banner3 .banner-box{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 30%;
  height: 30vh;
  align-items: flex-start;
  background-image: url("/img/banner/b7.jpg");
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
}
#banner3{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}

#banner3 .banner-box4{
  background-image: url("/img/banner/b4.jpg");
}
#banner3 .banner-box5{
  background-image: url("/img/banner/b18.jpg");
}



#sign-up{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("/img/banner/b14.png");
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}
#sign-up h3{
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}
#sign-up span{
  color: #ffbd27;
}

#sign-up input{
  height: 3rem;
  padding: 0 1em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#sign-up button{
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  background-color: #088178;
  color: #fff;
  white-space: nowrap;
}
#sign-up .form{
  display: flex;
  width: 40%;
}




#footer{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
#footer img{
  margin-top: 0px;
  margin-bottom: 20px;
}
#footer a{
  text-decoration: none;
}
#footer .ins{
  border: 1px solid #088178;
  border-radius: 4px;
}



/* Shop page*/
#shop-banner{
  background-image: url("/img/banner/b1.jpg");
  height: 35vh;
  padding: 70px;
  text-align: center;
}
#shop-banner h2{
  color: #fff;
}
#shop-banner h4{
  color: #fff;
  font-weight: 100;
}


.pg-buttons #pgs{
  height: 2.5em;
  width: 2.5em;
  margin-bottom: 10px;
  background-color: #088178;
  border: 1px;
  color: #fff;
}
.buttons{
  text-align: center;
}

/* Product description Page*/
#product-desc{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}
#product-desc .select{
  padding: 5px;
  background-color: transparent;
  border: 1px solid;
  margin-bottom: 5px;
}
#product-desc .qty{
  padding: 5px;
  width: 50px;
  margin-right: 5px;
  background-color: transparent;
  border: 1px solid;
}
#product-desc .cart{
  padding: 5px;
  background-color: #088178;
  border: 1px solid transparent;
  color: #fff;
  font-weight: 500;
  margin-bottom: 20px;
}

#pro-img img{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; 
  height: 650px;
  width: 650px;
}
#bot-imgs{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
#bot-imgs img{
  margin: 10px 0 0 0;
  height: 175px;
  width: 150px;
}


#desc h3,h2{
  color: #000;
}
#desc{
  position: absolute;
  margin-left: 670px;
  width: 500px;
  line-height: 1.75;
}
#desc select{
  margin-bottom: 10px;
  height: 2em;
}



/*Blog Page*/
#blogbanner{
  background-image: url(/img/banner/b19.jpg);
  height: 35vh;
  padding: 70px;
  text-align: center;
  margin-bottom: 75px;
}
#blogbanner h2{
  color: #fff;
}
#blogbanner h4{
  color: #fff;
  font-weight: 100;
}


#blogcontent #seperateblogs{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 80px;
  margin-bottom: -20px;
  background-color: lightgray;
}
#blogpic img{
  height: 300px;
  width: 350px;
  margin-right: 50px;
  position: relative;
}
#blogpic h2{
  color: gray;
  position: absolute;
  margin-top: -40px;
}


/*About Page*/
#aboutbanner{
  background-image: url(/img/about/banner.png);
  background-position: center;
  height: 35vh;
  padding: 70px;
  text-align: center;
  margin-bottom: 75px;
}
#aboutbanner h2{
  color: #fff;
}
#aboutbanner h4{
  color: #fff;
  font-weight: 100;
}

#aboutus{
  display: flex;
  justify-content: space-between;
  flex: wrap;
}
#aboutimg img{
  height: 400px;
  width: 500px;
}
#abouttext{
  margin-top: 75px;
  width: 750px;
}

#download{
  text-align: center;
  margin-top: 30px;
}
#video{
  height: 100%;
  width: 60%;
  border-radius: 20px;
  margin-top: 20px;
  background-color: lightgray;
}

/*Contact Page*/
#contactbanner{
  background-image: url(/img/about/banner.png);
  background-position: center;
  height: 35vh;
  padding: 70px;
  text-align: center;
  margin-bottom: 75px;
}
#contactbanner h2{
  color: #fff;
}
#contactbanner h4{
  color: #fff;
  font-weight: 100;
}
#content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}


#feedbackform{
  display: flex;
  justify-content: space-between;
  border: 1px solid lightgray;
  padding: 80px;
}
#formtags input{
  height: 3em;
  width: 100%;
  margin-bottom: 10px;
  padding: 12px 15px;
}
#formtags textarea{
  width: 100%;
  padding: 12px 15px;
}
#formtags button.normal{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #fff;
  background-color: #088178;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

/*Cart Page*/
#cartbanner{
  background-image: url(/img/about/banner.png);
  background-position: center;
  height: 35vh;
  padding: 70px;
  text-align: center;
  margin-bottom: 75px;
}
#cartbanner h2{
  color: #fff;
}
#cartbanner h4{
  color: #fff;
  font-weight: 100;
}

#cartitems table{
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}
#cartitems table img{
  width: 70px;
}
#cartitems table td:nth-child(1){
  width: 100px;
  text-align: center;
}
#cartitems table td:nth-child(2){
  width: 150px;
  text-align: center;
}
#cartitems table td:nth-child(3){
  width: 250px;
  text-align: center;
}
#cartitems table td:nth-child(4){
  width: 150px;
  text-align: center;
}
#cartitems table td:nth-child(5){
  width: 150px;
  text-align: center;
}
#cartitems table td:nth-child(6){
  width: 150px;
  text-align: center;
}
#cartitems table td:nth-child(5) input{
  width: 70px;
  padding: 10px 5px 10px 15px;
}
#cartitems table thead{
  border: 1px solid #e2e9e1;
  border-left: none;
  border-right: none;
}
#cartitems table thead td{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  padding: 18px 0;
}
#cartitems table tbody tr td{
  padding-top: 15px;
  border-bottom: 1px solid #e2e9e1;
}
#cartitems table tbody td{
  font-size: 18px;
}

#coupon{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#coupon #code{
  width: 50%;
}
#coupon #code h3{
  color: #000;
}
#coupon #code input{
  width: 60%;
  padding: 15px;
  border: 1px solid #e2e9e1;
  margin-top: 10px;
  margin-right: 5px;
}
#coupon #code button{
  background-color: #088178;
  color: #fff;
}


#coupon #carttotal{
  width: 50%;
}
#carttotal{
  border: 1px solid #e2e9e1;
  padding: 20px;
}
#carttotal h3{
  color: #000;
}
#carttotal table{
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
}
#carttotal table td{
  margin-top: 20px;
  padding: 5px;
  border: 1px solid #e2e9e1;
  width: 50%;
}

#carttotal button{
  background-color: #088178;
  color: #fff;
  margin-top: 10px;
}
#coupon{
  border-bottom: 1px solid #e2e9e1;
}